<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link href="./index.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-bar">
            <a href="main.handlebars" class="nav-links">Home</a>
            <a class="nav-links">Dashboard</a>
            <a class="nav-links">Login</a>
        </div>
        <div class="main-header">
            <h1><span>The Tech Blog</span></h1>
        </div>
    </header>
    <main>
        {{{ body }}}
    </main>
</body>
</html>