* {
    margin: 0 auto;
}

header {
    background-color: burlywood;
    padding-bottom: 60px;
}

.nav-bar {
    
}

.nav-links {
    font-size: 42px;
    padding: 50px 30px;
    color: cyan;
}

.main-header {
    margin-top: 50px;
    font-size: 36px;
    padding-left: 50px;
}

span {
    background-color: cyan;
    border-radius: 10%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    color: burlywood;
}

